<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body>
    <!--SECCION INICIO-->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>Jordi Camacho</h1>
                    <nav class="" id="nav">
                        <ul id="links">
                            <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
                            <li><a href="#servicios" onclick="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="#portfolio" onclick="seleccionar(this)">PORFOLIO</a></li>
                            <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!--iconos menu responsive-->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="redes">

                    </div>

                </div>
            </header>

            <div class="presentacion">
                <p class="bienvenida">Bienvenido</p>
                <h2>Soy <span>Jordi Camacho</span>, Desarrollador Java</h2>
                <p class="descripcion">
                    Mi objetivo es convertirme en un profesional en el desarrollo de aplicaciones Java, con experiencia
                    en el
                    framework Spring Boot y diseño de sistemas escalables y eficientes utilizando microservicios.
                </p>
                <a href="#portfolio">Ir a Portafolio</a>
            </div>
        </div>
    </section>

    <!--SECCION SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="/static/imagenes/inicio.jpg" alt="">
        </div>

        <div class="sobremi">
            <p class="titulo-seccion">Sobre Mi</p>
            <h2>Hola Soy <span>Jordy Camacho</span></h2>
            <h3>Desarrollador Java</h3>
            <p>
                Soy un apasionado desarrollador Java con experiencia en el desarrollo de aplicaciones escalables y
                eficientes
                utilizando Spring Boot y microservicios. Durante mi formación, me enfoqué en adquirir un sólido
                conocimiento
                de los fundamentos de la programación y en el desarrollo móvil.
            </p>

            <a href="/static/imagenes/curriculum.pdf">Ver CV</a>
        </div>
    </section>

    <!-- SECCION SERVICIOS -->
    <section id="servicios">
        <h3 class="titulo-seccion">MIS SERVICIOS</h3>

        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo de Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>Desarrollo web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Soy especialista en el desarrollo de aplicaciones Java, abarcando desde aplicaciones web hasta
                    microservicios utilizando Spring Boot.
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Diseño y Desarrollo de E-commerce</h4>
                <hr>
                <ul>
                    <li>Desarrollo web</li>
                    <li>SEO</li>
                    <li>Integración con Spring Boot</li>
                </ul>
                <p>
                    Especializado en la creación de plataformas de comercio electrónico escalables utilizando Spring
                    Boot y
                    microservicios.
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Optimización y Mantenimiento</h4>
                <hr>
                <ul>
                    <li>Mejora de rendimiento</li>
                    <li>Actualizaciones de seguridad</li>
                    <li>Soporte técnico</li>
                </ul>
                <p>
                    Ofrezco servicios de optimización y mantenimiento para garantizar sistemas escalables y eficientes a
                    lo
                    largo del tiempo.
                </p>
            </div>
        </div>

        <!-- Puedes agregar más servicios según sea necesario -->

    </section>



    <!-- SECCION HABILIDADES -->
    <div id="skills" class="contenedor-skills">
        <h3 class="titulo-habilidades">HABILIDADES</h3>

        <div class="grupo-skills">
            <div class="skill">
                <div class="info">
                    <h3>Lenguajes de Programación</h3>
                    <p><span class="lista"></span>Java 8 y 11</p>
                    <p><span class="lista"></span>JavaScript</p>
                    <p><span class="lista"></span>SQL</p>
                </div>
            </div>

            <div class="skill">
                <div class="info">
                    <h3>Frameworks</h3>
                    <p><span class="lista"></span>Spring MVC</p>
                    <p><span class="lista"></span>Spring Boot</p>
                </div>
            </div>

            <div class="skill">
                <div class="info">
                    <h3>Herramientas de Desarrollo</h3>
                    <p><span class="lista"></span>Git y Github</p>
                    <p><span class="lista"></span>Postman</p>
                    <p><span class="lista"></span>Maven</p>
                </div>
            </div>
        </div>
    </div>

    <!--SECCION PORFOLIO-->
    <section id="portfolio">
        <h3 class="titulo-seccion">MIS PROYECTOS</h3>

        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/tattoo.png" alt="">
                <div class="info">
                    <a href="" class="btn">Github</a>
                    <a href="" class="btn">Ver Demo</a>
                </div>
            </div> 

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/tienda.png" alt="">
                <div class="info">
                    <a href="" class="btn">Github</a>
                    <a href="" class="btn">Ver Demo</a>
                </div>
            </div>

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/github.jpeg" alt="">
                <div class="info">
                    <a href="" class="btn">Github</a>
                    <a href="" class="btn">Ver Demo</a>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION CONTACTO-->
    <section id="contacto">
        <h3 class="titulo-seccion">Contactame Ahora</h3>
        <div class="contenedor-from">
            <form th:action="@{/inicio/enviar}" method="post">
                <div class="fila">
                    <input type="text" name="email" placeholder="Direccion de Email" class="input-full">
                </div>
                <div class="fila">
                    <input type="text" name="asunto" placeholder="Tema..." class="input-full">
                </div>
                <div class="fila">
                    <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Tu mensaje"
                        class="input-full"></textarea>
                </div>

                <input type="submit" value="Enviar Mensaje" class="btn-enviar">

            </form>
        </div>
    </section>


    <!--FOOTER-->
    <footer>
        <p>Jordy 2024</p>
        <!-- <div class="redes">
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
        </div> -->
    </footer>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>