<!DOCTYPE html>
<html lang="es" xmlns:th="http:/www.thymeleaf.org">

<head th:include="usuario/template.html::header"></head>

<body>
    <!--SECCION INICIO-->
    <section id="inicio">
        <div class="contenido">
            <header>
                <div class="contenido-header">
                    <h1>nose</h1>
                    <nav class="" id="nav">
                        <ul id="links">
                            <li><a href="#inicio" class="seleccionado" onclick="seleccionar(this)">INICIO</a></li>
                            <li><a href="#sobremi" onclick="seleccionar(this)">SOBRE MI</a></li>
                            <li><a href="#servicios" onclick="seleccionar(this)">SERVICIOS</a></li>
                            <li><a href="#portfolio" onclick="seleccionar(this)">PORFOLIO</a></li>
                            <li><a href="#contacto" onclick="seleccionar(this)">CONTACTO</a></li>
                        </ul>
                    </nav>

                    <!--iconos menu responsive-->
                    <div id="icono-nav" onclick="responsiveMenu()">
                        <i class="fa-solid fa-bars"></i>
                    </div>

                    <div class="redes">
                        <a href="#"><i class="fa-brands fa-square-instagram"></i></a>
                    </div>

                </div>
            </header>

            <div class="presentacion">
                <p class="bienvenida">Bienvenidos</p>
                <h2>Soy <span>Jordy Camacho</span>, desarrollador java</h2>
                <p class="descripcion">
                    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam, blanditiis a. Incidunt
                    consequatur aspernatur nesciunt dolor
                    molestias beatae saepe, mollitia vero sunt minus repellendus asperiores doloribus repudiandae
                    officia, explicabo architecto.
                </p>
                <a href="#portfolio">Ir a Portafolio</a>
            </div>
        </div>
    </section>

    <!--SECCION SOBRE MI-->
    <section id="sobremi">
        <div class="contenedor-foto">
            <img src="/static/imagenes/inicio.jpg" alt="">
        </div>

        <div class="sobremi">
            <p class="titulo-seccion">Sobre Mi</p>
            <h2>Hola Soy <span>Jordy Camacho</span></h2>
            <h3>Desarrollador Java</h3>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Omnis dicta eligendi suscipit tenetur adipisci
                sit dolore,
                aut expedita praesentium saepe, necessitatibus, a repellendus odio nam magni molestiae voluptatum illo
                modi.
            </p>
            <p>
                Lorem ipsum dolor sit amet consectetur, adipisicing elit. Harum ad suscipit est quod? Soluta
            </p>
            <a href="#">Descargar CV</a>
        </div>
    </section>

    <!--SECCION SERVICIOS-->
    <section id="servicios">
        <h3 class="titulo-seccion">MIS SERVICIOS</h3>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

        </div>
        <div class="fila">
            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

            <div class="servicio">
                <span class="icono"><i class="fa-solid fa-code"></i></span>
                <h4>Desarrollo wey y Aplicaciones Java</h4>
                <hr>
                <ul>
                    <li>web</li>
                    <li>SEO</li>
                    <li>Apps Spring Boot</li>
                </ul>
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos quidem commodi a. Commodi quo,
                    voluptatibus aliquam sunt eligendi nam
                </p>
            </div>

        </div>
    </section>

    <!--SECCION HABILIDADES-->
    <div id="skills" class="contenedor-skills">
        <h3>HABILIDADES</h3>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>JavaScript</p>
                <span class="porcentaje">95%</span>
            </div>
            <div class="barra">
                <div id="js" class="barra-progreso1"></div>
            </div>
        </div>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>Java</p>
                <span class="porcentaje">95%</span>
            </div>
            <div class="barra">
                <div id="jv" class="barra-progreso2"></div>
            </div>
        </div>

        <div class="skill">
            <div class="info">
                <p><span class="lista"></span>SQL</p>
                <span class="porcentaje">95%</span>
            </div>
            <div class="barra">
                <div id="sql" class="barra-progreso3"></div>
            </div>
        </div>

    </div>

    <!--SECCION PORFOLIO-->
    <section id="portfolio">
        <h3 class="titulo-seccion">MIS PROYECTOS</h3>

        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>
        </div>

        <div class="fila">
            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>

            <div class="proyecto">
                <div class="overlay"></div>
                <img src="/static/imagenes/inicio.jpg" alt="">
                <div class="info">
                    <h4>Descripcion del Proyecto</h4>
                    <p>Diseño web</p>
                </div>
            </div>
        </div>
    </section>

    <!--SECCION CONTACTO-->
    <section id="contacto">
        <h3 class="titulo-seccion">Contactame Ahora</h3>
        <div class="contenedor-from">
            <form th:action="@{/inicio/enviar}" method="post">
                <div class="fila">
                    <input type="text" name="email" placeholder="Direccion de Email" class="input-full">
                </div>
                <div class="fila">
                    <input type="text" name="asunto" placeholder="Tema..." class="input-full">
                </div>
                <div class="fila">
                    <textarea name="mensaje" id="" cols="30" rows="10" placeholder="Tu mensaje"
                        class="input-full"></textarea>
                </div>

                <input type="submit" value="Enviar Mensaje" class="btn-enviar">
            </form>
        </div>
    </section>


    <!--FOOTER-->
    <footer>
        <p>Jordy 2024</p>
        <div class="redes">
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
            <a href="#"> <i class="fa-brands fa-instagram-square"></i></a>
        </div>
    </footer>

    <script th:src="@{/js/script.js}"></script>

</body>

</html>